<link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind:300,400,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,500;1,500&display=swap" rel="stylesheet">

<link href="style.css" rel="stylesheet">

<body>
    <div id="editor">
        <aside>
            <ul id="editTools" :style="toolbarStyle">
                <li v-for="tool in visibleEditTools" v-if="tool.show">
                    <span class="tooltip">{{tool.text}}</span>
                    <img :src="tool.icon" class="icon" @click="useTool(tool)">
                </li>
            </ul>
        </aside>
        <main>
            <article>
                <s-block v-for="(block, index) in blocks" :item="block" :editing="blockIsEditing(index)" :key="index" @click="selectBlock(index)" :class="{selected: index == selectedIndex}"></s-block>
    
          
            </article>
            <div id="addTools">
                <ul>
                    <li v-for="tool in addTools" @mouseover="hover(tool.text)" @click="addBlock(tool.type)">
                        <img :src="tool.icon" class="icon">
                    </li>
                </ul>
                <span class="tooltip">{{addTooltip}}</span>
            </div>
        </main>
      
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/x-template" id="s-block-template">
    <component :is="blocktype" :item="this.item" :editing="this.editing" class="s-block" :class="{editing: this.editing}" @click="onClick" @input="onInput" />
</script>

<script type="text/x-template" id="s-quote-template">
    <blockquote @click="onClick">
        <s-text :item="{type: 'header', content: this.item.content}" :editing="this.editing" @input="onInput" />
        <s-text :item="{type: 'footer', content: this.item.footer}" :editing="this.editing" @input="onInputFooter" />
    </blockquote>
</script>

<script type="text/x-template" id="s-image-template">
    <div class="image" @click="onClick">
        <img :src="this.item.content" />
        <input v-show="this.editing" type="file" accept="image/*" @input="onInput" />
    </div>
</script>

<script src="components.js"></script>

<script src="app.js"></script>