:root {
    --base-line-height: 1.5rem; /*rounding error in lineheight if not integer*/
    --modal-scale: 1.44rem;
    --base-font-size: 112.5%; /*18px*/
}
html{
    font-size: var(--base-font-size);
}

body {
    font-family: 'Hind', sans-serif;
    line-height: var(--base-line-height);
    margin: var(--base-line-height);
}

#editor {
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
}
#editor>aside {
    flex-shrink: 0;
    margin-right: calc(var(--base-line-height));
}


article{
    max-width: calc(26*var(--base-line-height));
    /*padding: calc(var(--base-line-height));*/
    margin: auto;
}
#editor article:hover {
    background: repeating-linear-gradient(transparent 0 var(--base-line-height),
  #DEF var(--base-line-height) calc(2*var(--base-line-height)));
}

.s-block {
    margin-bottom:var(--base-line-height);
}
.s-block.selected {
    background-color: #FEDA;
    box-shadow: 0px 0px 0px 4px #5AF;
}
#editor .s-block:hover {
    background-color: #FEDA;
}
.s-block textarea {
    box-shadow: 0px 0px 0px 4px red;
}

textarea {
    white-space: normal;
    resize: none;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.image {
    width: calc(12/26*100%);
    margin-right: calc(2*var(--base-line-height));
    float:left;
}
.image>img {
    width: 100%;
}
@media (max-width: 560px){
    .image {
        width: 100%
    }
}

input[type="file"] {
    line-height: inherit;
    font: inherit;
    font-size: 0.8em;
    z-index: 10;
    box-shadow: 0px 0px 0px 4px red;
    width: 100%;
}

blockquote {
    margin: 0;
    margin-top: var(--base-line-height);
    margin-left: calc(-1.5rem - 4px);
    padding-left: 1.5rem;
    border-left: 4px solid #333;
}
blockquote>header {
    font-family: "Gentium Book Basic", serif;
    font-style: italic;
    font-size: 1.1rem;
}
blockquote>header::before {
    position: absolute;
    margin-left: -1em;
    width: 1em;
    text-align: right;
    content: '\201C';
}
blockquote>header::after {
    content: '\201D';
}
blockquote.editing>header::after {
    display: none;
}
blockquote>footer {
    font-size: 0.8rem;
    color: #555;
}
blockquote>footer::before {
    position: absolute;
    margin-left: -1em;
    width: 1em;
    text-align: right;
    content: '\2014';
}

p {
    margin-top: var(--base-line-height);
}
h1, h2, h3, h4 {
    font-family: "Literata", serif;
    font-weight: 500;
    margin-top: calc(2*var(--base-line-height));
}

p + h1, p + h2, p + h3, p + h4 {
    /*margin-top: calc(2*var(--base-line-height));*/
}

h3 {
    line-height: var(--base-line-height);
    font-size: var(--modal-scale);
}
h2 {
    line-height: calc(2*var(--base-line-height));
    font-size: 2rem;
}
h1 {
    line-height: calc(2*var(--base-line-height));
    font-size: calc(2*var(--modal-scale));
}

.icon {
    height: var(--base-line-height);
}
.icon:hover {
    filter: invert(18%) sepia(99%) saturate(6314%) hue-rotate(1deg) brightness(103%) contrast(121%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tooltip {
    visibility: hidden;
}

#editTools {
    /*visibility: hidden;*/
    position: relative;
    display: inline-block;
    margin-right: 1em;
    text-align: right;
}
#editTools>li {
    cursor: pointer;
}
#editTools>li>.icon {
    width: 1em;
    vertical-align: middle;
}
#editTools>li:hover>.tooltip {
    visibility: visible;
}

#addTools {
    display: inline-block;
}
#addTools li {
    display: inline-block;
    margin-right: 0.3em;
    cursor: pointer;
}
#addTools:hover .tooltip {
    visibility: visible;
}


button, a.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #5b8;
    padding: calc(0.25*var(--base-line-height)) var(--base-line-height);
    border: 0;
    border-radius: var(--base-line-height);
    cursor: pointer;
    font: inherit;
}

:root {
    --post-background: #333;
}
#postList {
    margin: auto;
    max-width: 1000px;
}

#postList li {
    margin: var(--base-line-height) 0;
}

#postList article
{
    background-color: var(--post-background);
    height: calc(12*var(--base-line-height));
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "img text";
    color: white;
    border-radius: 1em;
    overflow: hidden;
    max-width: unset;
    padding: 0;
}

#postList article>img
{
    grid-area: img;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#postList article>h2
{
    grid-area: img;
    margin: 0;
    text-shadow: 0px 0px 4px black;
    text-align: center;
    align-self: center;
    justify-self: center;
}
#postList article>aside {
    grid-area: text;
    margin: var(--base-line-height) var(--base-line-height) 0 var(--base-line-height);
    overflow: hidden;
}
#postList article>.scrim {
    grid-area: text;
    background: linear-gradient(transparent 0%, transparent 60%, var(--post-background) 90%);
}
#postList article>a {
    grid-area: text;
    justify-self: center;
    align-self: end;
    margin: calc(0.5*var(--base-line-height));
}

@media only screen and (max-width: 600px) {
    #postList article {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "img";
    }
    #postList article>aside{
        display: none;
    }
    #postList article>.scrim {
        grid-area: img;
        display: none;
    }
    #postList article>a {
        grid-area: img;
    }
}